/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: #f4f4f4;
    color: #111;
    transition: all 0.3s ease;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: white;
    border-bottom: 1px solid #ddd;
}

/* SECTIONS */
section {
    padding: 60px 30px;
    border-bottom: 1px solid #ddd;
    max-width: 900px;
    margin: auto;
}

/* HEADINGS */
h1, h2 {
    margin-bottom: 15px;
}

nav h1 {
    font-size: 20px;
}

/* BUTTONS */
button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

/* INPUT */
input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

/* OUTPUT BOXES */
#aiOutput, #logs, #labOutput {
    margin-top: 15px;
    padding: 10px;
    background: #eee;
    min-height: 50px;
}

#logs {
    background: black;
    color: #00ffcc;
    font-family: monospace;
    height: 200px;
    overflow-y: auto;
    padding: 10px;
}

#aiOutput p {
    margin: 5px 0;
}

#labOutput {
    background: #111;
    color: #00ffcc;
    font-family: monospace;
    padding: 10px;
    min-height: 80px;
}

#caseStudy {
    background: #fafafa;
}

#howItWorks ol {
    margin-top: 10px;
    padding-left: 20px;
}

#howItWorks li {
    margin-bottom: 10px;
}

#caseStudy p, #howItWorks li {
    line-height: 1.6;
}

/* UNSTABLE MODE */
body.unstable {
    background: #0f0f0f;
    color: #00ffcc;
}

/* NAVBAR */
body.unstable nav {
    background: #111;
    border-bottom: 1px solid #00ffcc;
}

body.unstable #caseStudy {
    background: #121212;
}

/* BUTTONS */
body.unstable button {
    background: #00ffcc;
    color: black;
}

/* OUTPUT BOXES */
body.unstable #aiOutput,
body.unstable #logs,
body.unstable #labOutput {
    background: #1a1a1a;
    color: #00ffcc;
}

/* GLITCH EFFECT */
body.unstable h2 {
    animation: glitch 0.5s infinite;
}

@keyframes glitch {
    0% { transform: translate(0); }
    25% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 1px); }
    75% { transform: translate(1px, 1px); }
    100% { transform: translate(0); }
}
